.about{
    background: radial-gradient(ellipse closest-side,var(--purple1), var(--black1) 80%);
}
.content{
    
}

.icon{
    color: var(--grey1);
    margin: 0 0.6rem;
    font-size: 2rem;
    transition: color 0.3s ease;
    position: relative;
    cursor: pointer;
}

.aura{
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: box-shadow 0.3s ease;
}
.icon:hover .aura{
    box-shadow: 0 0 20px 20px rgba(228, 232, 238, 0.6);
}
.icon:hover{
    color: white;
}

.presentation-card{
    border: 1px solid var(--grey1);
    background-color: var(--black2); 
}
li{
    list-style: inside;
}



.neon-text {
  
    color: var(--blue2); 
    /* text-shadow: 
        0 0 5px var(--blue2),
        0 0 10px var(--blue2), 
        0 0 20px var(--blue2); */

    
    /* text-shadow: 
        0 0 5px #00eaff, 
        0 0 10px #00eaff, 
        0 0 20px #00eaff,
        0 0 40px #00d1ff, 
        0 0 80px #00b8ff, 
        0 0 100px #009fff;  */
 
}