<div class="efect-card-container">
    <div class="efect-card w-full px-4 py-6  text-grey1">
        <div class="mb-4">
            <div class="flex">
                <img class="" src="img/empresa1.png" width="30" alt="">
                <p class="mx-2">-</p>
                <p>Front end Developer</p>
            </div>
            <p class="text-sm">September 2020 - August 2021</p>
        </div>
        <div class="pl-4">
            <ul>
                <li >Lorem ipsum<span class="text-yellow1">Magnam</span> dolor sit amet consectetur, adipisicing elit.</li>
            </ul>
            <ul>
                <li ><span class="text-yellow1">Magnam</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit<span class="text-yellow1">Magnam</span>.</li>
            </ul>
            <ul>
                <li >Lorem ipsum<span class="text-yellow1">Magnam</span> dolor sit amet consectetur, adipisicing elit.</li>
            </ul>
            <ul>
                <li ><span class="text-yellow1">Magnam</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit<span class="text-yellow1">Magnam</span>.</li>
            </ul>
            <ul>
                <li >Lorem ipsum<span class="text-yellow1">Magnam</span> dolor sit amet consectetur, adipisicing elit.</li>
            </ul>
            <ul>
                <li ><span class="text-yellow1">Magnam</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit<span class="text-yellow1">Magnam</span>.</li>
            </ul>
            <ul>
                <li >Lorem ipsum<span class="text-yellow1">Magnam</span> dolor sit amet consectetur, adipisicing elit.</li>
            </ul>
            <ul>
                <li ><span class="text-yellow1">Magnam</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit<span class="text-yellow1">Magnam</span>.</li>
            </ul>
        </div>
    </div>
</div>