<div class="limit-content2 padding-botom-section" id="skills">
    <p class="text-section-tittle text-section-neon">Conocimientos</p>
    <div class="main-container">
        <div class="skills-container card-3">
            <p class="text-card-tittle text-center pb-2">Frontend</p>
            <div class="flex flex-wrap justify-center">
                @for (skill of frontSkills; track $index) {
                <div class="icon-container flex flex-col justify-center items-center">
                    <img class="icon" src="{{skill.SvgURL}}" alt="">
                    <p class="neon-text">{{skill.skillName}}</p>
                </div>
                }
            </div>
        </div>
        <div class="skills-container card-3">
            <p class="text-card-tittle text-center pb-2">Backend</p>
            <div class="flex flex-wrap justify-center">
                @for (skill of backSkills; track $index) {
                <div class="icon-container flex flex-col justify-center items-center">
                    <img class="icon" src="{{skill.SvgURL}}" alt="">
                    <p class="neon-text">{{skill.skillName}}</p>
                </div>
                }
            </div>
        </div>
        <div class="skills-container card-3">
            <p class="text-card-tittle text-center pb-2">Herramientas</p>
            <div class="flex flex-wrap justify-center">
                @for (skill of generalSkills; track $index) {
                <div class="icon-container flex flex-col justify-center items-center">
                    <img class="icon" src="{{skill.SvgURL}}" alt="">
                    <p class="neon-text">{{skill.skillName}}</p>
                </div>
                }
            </div>
        </div>
    </div>
</div>
