.icon-container{ 
    width: 3.2rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    margin: 0.6rem 0.8rem;
    background-color: rgba(90, 239, 255, 0.08);
    box-shadow: 0 0 5px 5px rgba(90, 239, 255, 0.08);
}
.icon{
    width: 2rem;
}

.neon-text {
    font-family: 'Arial', sans-serif;
    font-size: 0.8rem;
    color: var(--neon); 
    text-shadow: 
        0 0 5px var(--neon); 
    margin-top: 0.2rem;
}

.skills-container{
    margin-bottom: 1rem;
    /* border: 1px solid white; */
    width: 250px;
    padding: 8px;
}


.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-container{
        width: 91.666667%;
        padding: 16px 4px;
    }

    .icon-container{ 
        margin: 1.8rem 1.8rem;
        box-shadow: 0 0 12px 18px rgba(90, 239, 255, 0.08);
    }

    .icon{
    width: 3rem;
}
}










    /* text-shadow: 
        0 0 5px #00eaff, 
        0 0 10px #00eaff, 
        0 0 20px #00eaff,
        0 0 40px #00d1ff, 
        0 0 80px #00b8ff, 
        0 0 100px #009fff;  */